<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Allows the app to access precise location (GPS) data. -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" /> <!-- Allows the app to access approximate location data (network-based). -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Allows the app to access the internet. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> <!-- Allows the app to receiving messages. -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SmartCharge"
        tools:targetApi="31">
        <activity
            android:name=".AdminMonitorChargersActivity"
            android:exported="false" />
        <activity
            android:name=".AdminReportsActivity"
            android:exported="false" />
        <activity
            android:name=".ReportActivity"
            android:exported="false" />
        <activity
            android:name=".viewChargerActivity"
            android:exported="false" />
        <activity
            android:name=".ContactUsActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUsActivity"
            android:exported="false" />
        <activity
            android:name=".PrivacyPolicyActivity"
            android:exported="false" />
        <activity
            android:name=".RentBottomSheetDialog"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".HomeChargerActivity"
            android:exported="false" />
        <activity
            android:name=".PersonalDataActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_smart_charge" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorPrimary" />

        <activity
            android:name=".NearbyStationsActivity"
            android:exported="false" />
        <activity
            android:name=".BottomSheetDialog"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <!-- Google API Key. -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDfe_eOyIYxJwWoZHXMoSfIgLxjMUhAjPw" />
        <activity
            android:name=".MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>